@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');

*{
  font-family: 'Quicksand', sans-serif;
  font-size: 40px;
  margin: 0;
}

.counter{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(238, 238, 238);
  height: 100vh;
}

.header{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(108, 108, 108);
  margin: 0;
  height: 90px;
  color: white;
}

a{
  padding: 10px;
  cursor: pointer;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px;
  font-family: 'Quicksand', sans-serif;
  border-radius: 35%;
  height: 50px;
  width: 50px;
  cursor: pointer;
  border: none;
  background-color: rgb(106, 106, 106);
  color: white;
}

button:hover{
  transform: scale(1.05);
}

button:active{
  transform: scale(0.95);
}